#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


/* .demo-logo {
  color: aliceblue;
  padding: 0 30px;
  font-size: 18px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.custom-header-menu .ant-menu-submenu-title .ant-menu-title-content > a{
  color: rgba(255, 255, 255, 0.65)
}

.ant-menu-overflow-item .ant-menu-submenu .ant-menu-submenu-horizontal .ant-menu-submenu-selected {
  color: "#fff"
}
.ant-menu-overflow-item .ant-menu-submenu .ant-menu-submenu-horizontal .ant-menu-submenu-selected>a {
  color: "#fff"
} */